{% extends 'main/layout.html' %}

{% block title %}
    Новости на сайте
{% endblock %}

{% block content %}
     <div class="features">
        <h1>Новости на сайте</h1>
        <p>Заходите почаще</p>
        <button class="btn btn-secondary">На страницу про нас</button>
        <!-- {% for el in values %}
            <p>{{el}}</p>
        {% endfor %} -->
        <!-- {{news}} -->
        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h3>{{el.title}}</h3>
                    <p>{{el.anons}}</p>
                    <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Читать детальнее</a>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас нет новостей !</p>
        {% endif %}
     </div>
{% endblock %}